<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.yidun.com.yidun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AccountActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".CashActivity"
            android:label="@string/title_activity_cash"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MemberActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".InvatationCodeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".RechargeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".FillInActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".PersonalDataActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TurbineFirstActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".KnowMoreActivity"
            android:screenOrientation="portrait"
            ></activity>

        <!-- 注册自定义静态广播接收器 -->
        <receiver android:name=".StaticReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>